*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

#canvas {
  position: absolute;
  /*background-image: url("./img/background.png");*/
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

.assets {
  display: none;
}
